In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pymutspec.annotation import CodonAnnotation
from pymutspec.constants import possible_codons

In [2]:
coda = CodonAnnotation(1)
alphabet = 'ACGT'

In [22]:
from utils import (
    collect_possible_changes, nuc_spectrum_to_matrix, 
    cdn_spectrum_to_matrix, get_equilibrium_probabilities,
    get_equilibrium_freqs,
)

In [ ]:
def get_equilibrium_data(ms12, taxid):
    sbs2rate = ms12.set_index('Mut')['MutSpec'].to_dict()
    
    M = nuc_spectrum_to_matrix(sbs2rate)
    eq_prob = get_equilibrium_probabilities(M).astype(float)
    nucl_eq = pd.Series(dict(zip(alphabet, eq_prob)))
    nucl_eq.name = 'freq'
    nucl_eq.index.name = 'nucl'
    nucl_eq = nucl_eq.reset_index()
    nucl_eq['taxid'] = taxid
    # print(nucl_eq)
    
    eq_freqs, eq_aa = get_equilibrium_freqs(ms12)
    eq_freqs['taxid'] = taxid
    return nucl_eq, eq_freqs

In [ ]:
# TODO replace calculation with this table
spectra = pd.read_csv('./data/viral_spectra_dataset.csv').melt(
    ['Type', 'taxname', 'df', 'taxid', 'virusname'], 
    var_name='Mut', value_name='MutSpec')
spectra

,Type,taxname,df,taxid,virusname,Mut,MutSpec
0,ds,Hepatitis B virus,nemu,10407,HBV,A>C,0.109127
1,ds,Rice black streaked dwarf virus,nemu,10990,RBSDV,A>C,0.034784
2,+,West Nile virus,nemu,11082,WNV,A>C,0.012922
3,+,Norwalk virus,nemu,11983,norw,A>C,0.009244
4,+,Hepatovirus A,nemu,12092,HAV,A>C,0.008840
...,...,...,...,...,...,...,...
439,-,Influenza B Victoria,Bloom_etal,-,flu_vic,T>G,0.010400
440,-,RSV-A,Bloom_etal,-,rsv-a,T>G,0.008174
441,-,RSV-B,Bloom_etal,-,rsv-b,T>G,0.007654
442,+,SARS-CoV-2 20A,Bloom_etal,-,CoV20A,T>G,0.006130
443,+,SARS-CoV-2 22C,Bloom_etal,-,CoV22C,T>G,0.006704

In [ ]:
dfms12syn = pd.read_csv('./data/ms12syn_all_virus.csv', index_col=0).reset_index()
dfms12syn

In [ ]:
dfms12syn['taxid'].unique()

array([  10407,   10990,   11082,   11320, 1133363, 1157337,  118655,
         11983,   12092,   12110,   12162,   12637,  138948,  138950,
        138951,  162145, 1678143, 1933178,  198112,   28295,   28344,
       3052230, 3052493, 3052763,  351073,   38170,   40054,   54290,
         57482,  693997,  694014,   77763])

In [8]:
# dfms12covid = pd.read_csv('SARS-CoV-2-MutSpec/data/spectra_verification/spectra12.csv')
# dfms12covid['taxid'] = 2697049
# covid_df = dfms12covid.pivot(columns='Mut', values='MutSpec_syn', index='taxid').reset_index()

In [26]:
nucl_eq_lst = []
eq_freqs_lst = []

for taxid in dfms12syn['taxid'].unique():
    nucl_eq_lst.append(get_equilibrium_data(dfms12syn[dfms12syn['taxid'] == taxid], taxid)[0]) 
    eq_freqs_lst.append(get_equilibrium_data(dfms12syn[dfms12syn['taxid'] == taxid], taxid)[1])

In [27]:
df_nucl_eq_all = pd.concat(nucl_eq_lst).reset_index(drop=True)

In [28]:
df_nucl_eq_all

    nucl      freq   taxid
0      A  0.256787   10407
1      C  0.199648   10407
2      G  0.312785   10407
3      T  0.230780   10407
4      A  0.177305   10990
..   ...       ...     ...
123    T  0.093360  694014
124    A  0.198467   77763
125    C  0.328246   77763
126    G  0.328644   77763
127    T  0.144643   77763

[128 rows x 3 columns]

In [31]:
df_eq_freqs_all = pd.concat(eq_freqs_lst).reset_index(drop=True)
df_eq_freqs_all

      cdn   eq_freq   aa  taxid
0     AAA  0.013528  Lys  10407
1     AAC  0.016650  Asn  10407
2     AAG  0.011135  Lys  10407
3     AAT  0.015695  Asn  10407
4     ACA  0.016650  Thr  10407
...   ...       ...  ...    ...
2043  TGT  0.022595  Cys  77763
2044  TTA  0.033151  Leu  77763
2045  TTC  0.024570  Phe  77763
2046  TTG  0.022595  Leu  77763
2047  TTT  0.042620  Phe  77763

[2048 rows x 4 columns]

In [ ]:
df_eq_freqs_all.aa.value_counts()

aa
Ser    192
Arg    192
Leu    192
Pro    128
Thr    128
Val    128
Ala    128
Gly    128
*       96
Ile     96
Lys     64
Asn     64
Gln     64
Tyr     64
Asp     64
His     64
Glu     64
Phe     64
Cys     64
Met     32
Trp     32
Name: count, dtype: int64

In [33]:
df_aa_eq_freq_all = df_eq_freqs_all.groupby(['taxid', 'aa']) \
                                .agg({'eq_freq':'sum'}) \
                                .reset_index() \
                                .pivot(index='taxid', columns='aa', values='eq_freq') \
                                .drop('*', axis=1)

In [34]:
df_aa_eq_freq_all = df_aa_eq_freq_all.div(df_aa_eq_freq_all.sum(axis=1), axis=0).reset_index()

In [35]:
df_aa_eq_freq_all

aa,taxid,Ala,Arg,Asn,Asp,Cys,Gln,Glu,Gly,His,...,Leu,Lys,Met,Phe,Pro,Ser,Thr,Trp,Tyr,Val
0,10407,0.059210,0.080345,0.033741,0.027613,0.031618,0.031575,0.021135,0.039762,0.041180,...,0.117514,0.025728,0.013406,0.044461,0.088078,0.110885,0.072755,0.010922,0.038877,0.055946
1,10990,0.022529,0.030072,0.029765,0.016467,0.038834,0.014140,0.007543,0.012196,0.030936,...,0.181103,0.013792,0.011718,0.159932,0.041474,0.123110,0.045076,0.006091,0.069103,0.056643
2,11082,0.055157,0.079762,0.033672,0.030789,0.038733,0.028378,0.024606,0.050760,0.032109,...,0.119644,0.026766,0.017244,0.051881,0.054356,0.104354,0.060487,0.015782,0.042462,0.071759
3,11320,0.032330,0.091079,0.068530,0.036377,0.021084,0.039971,0.058749,0.045838,0.024603,...,0.074964,0.112241,0.022854,0.022921,0.022421,0.073775,0.064574,0.011201,0.039634,0.055139
4,11983,0.054221,0.075625,0.035377,0.027691,0.033093,0.030276,0.021404,0.038329,0.039170,...,0.122330,0.027288,0.014397,0.050699,0.076703,0.110759,0.069446,0.011231,0.042423,0.058721
5,12092,0.029037,0.047685,0.039339,0.026068,0.042966,0.019651,0.018649,0.029356,0.026510,...,0.151541,0.027795,0.018460,0.106732,0.024914,0.102290,0.046161,0.012263,0.064799,0.073690
6,12110,0.081325,0.100855,0.020110,0.026538,0.035720,0.026546,0.019530,0.059465,0.035803,...,0.110170,0.014980,0.011496,0.034913,0.110508,0.110169,0.062349,0.015170,0.026681,0.062386
7,12162,0.062533,0.084618,0.020647,0.028035,0.047233,0.020517,0.022085,0.065570,0.026030,...,0.127701,0.016277,0.016180,0.060648,0.058506,0.107985,0.046547,0.020999,0.035746,0.084412
8,12637,0.049930,0.096440,0.057605,0.036272,0.021556,0.046021,0.046510,0.052505,0.034188,...,0.076362,0.070893,0.018462,0.020033,0.046389,0.083875,0.080209,0.011476,0.035192,0.051494
9,28295,0.029724,0.036246,0.022908,0.015574,0.039650,0.013971,0.006522,0.014540,0.032639,...,0.181007,0.009306,0.010069,0.152767,0.059247,0.132797,0.046611,0.006697,0.059433,0.056417
10,28344,0.067635,0.084287,0.019009,0.024723,0.043512,0.021065,0.016651,0.053113,0.031248,...,0.132289,0.012823,0.012815,0.059351,0.085776,0.117030,0.052313,0.016466,0.033623,0.072794
11,38170,0.057441,0.070303,0.019294,0.022088,0.044789,0.018460,0.012862,0.039757,0.031697,...,0.148849,0.011236,0.012219,0.079835,0.082400,0.124457,0.050158,0.013857,0.039364,0.070866
12,40054,0.047289,0.081356,0.043790,0.033132,0.033019,0.032089,0.034067,0.050496,0.031150,...,0.107747,0.044878,0.019370,0.043626,0.044162,0.096109,0.063239,0.014600,0.043716,0.066989
13,54290,0.088083,0.110869,0.013436,0.026978,0.043483,0.021602,0.022786,0.090626,0.025496,...,0.106878,0.011478,0.012629,0.036120,0.084943,0.103168,0.047098,0.023938,0.022078,0.080050
14,57482,0.055020,0.074685,0.031313,0.026852,0.036245,0.027169,0.019665,0.039795,0.037046,...,0.128369,0.022968,0.014316,0.056769,0.075964,0.113452,0.064214,0.012264,0.042195,0.062825
15,77763,0.037239,0.060932,0.042917,0.028748,0.037358,0.025720,0.023693,0.034354,0.031218,...,0.133394,0.035520,0.018549,0.071524,0.040360,0.102801,0.056938,0.012266,0.055449,0.068173
16,118655,0.034484,0.092883,0.061344,0.037532,0.024071,0.037005,0.058399,0.053784,0.023807,...,0.079411,0.094626,0.023911,0.026042,0.022078,0.076638,0.060811,0.013577,0.040040,0.061558
17,138948,0.056491,0.081519,0.032875,0.029815,0.036722,0.028566,0.025027,0.049742,0.033740,...,0.118576,0.027589,0.016230,0.049776,0.063447,0.106296,0.062305,0.014720,0.040499,0.067672
18,138950,0.054235,0.098123,0.044454,0.035840,0.028329,0.037082,0.043888,0.064291,0.030202,...,0.087293,0.054407,0.019287,0.027684,0.045665,0.088984,0.067284,0.015547,0.035159,0.063163
19,138951,0.035496,0.052767,0.042143,0.024667,0.033787,0.026408,0.017272,0.023408,0.037652,...,0.143586,0.029134,0.015143,0.080482,0.053770,0.112344,0.064060,0.008550,0.058295,0.057480
20,162145,0.027489,0.068376,0.070393,0.032679,0.024643,0.036480,0.040887,0.030354,0.029180,...,0.100235,0.087465,0.021716,0.040730,0.024849,0.082251,0.065660,0.009124,0.053565,0.055482
21,198112,0.031191,0.060229,0.040981,0.031658,0.044736,0.020015,0.029038,0.046784,0.021381,...,0.133201,0.037456,0.023051,0.081164,0.018000,0.091117,0.041395,0.017881,0.057740,0.085668
22,351073,0.053901,0.096273,0.034607,0.035796,0.036832,0.028203,0.042372,0.080727,0.023726,...,0.097156,0.041001,0.021431,0.036646,0.035136,0.089695,0.051929,0.022087,0.035680,0.080351
23,693997,0.022481,0.032594,0.036455,0.018940,0.038106,0.016295,0.010113,0.014114,0.030574,...,0.172160,0.019652,0.013624,0.143332,0.035713,0.113507,0.046870,0.006745,0.072386,0.058476
24,694014,0.024882,0.039404,0.038303,0.023020,0.042619,0.016578,0.014522,0.021992,0.026379,...,0.161830,0.024354,0.016930,0.127546,0.027991,0.103066,0.042957,0.010032,0.070100,0.069581
25,1133363,0.027440,0.045069,0.059920,0.022788,0.023011,0.035103,0.017629,0.012813,0.046048,...,0.133988,0.044095,0.013555,0.066792,0.057520,0.106314,0.081152,0.004338,0.063736,0.040903
26,1157337,0.054519,0.073853,0.035030,0.026536,0.032157,0.030455,0.019334,0.034580,0.041417,...,0.124247,0.025635,0.013410,0.050834,0.084850,0.113168,0.071872,0.010127,0.042291,0.055694
27,1678143,0.060997,0.068435,0.013047,0.016863,0.043742,0.014687,0.007439,0.030650,0.032449,...,0.160627,0.005864,0.008585,0.086172,0.117182,0.138146,0.047136,0.010919,0.033588,0.063247
28,1933178,0.036459,0.077308,0.059396,0.034052,0.026880,0.036930,0.040849,0.039924,0.030808,...,0.098585,0.070830,0.020946,0.037705,0.033252,0.087603,0.067738,0.011313,0.047356,0.059139
29,3052230,0.093153,0.122635,0.019033,0.030585,0.032419,0.030095,0.029482,0.090677,0.031211,...,0.085700,0.018401,0.012146,0.021427,0.095629,0.095571,0.061306,0.019101,0.020195,0.063666
30,3052493,0.030510,0.064912,0.059483,0.031954,0.030607,0.030246,0.034402,0.034884,0.028109,...,0.114257,0.064172,0.021538,0.053965,0.026645,0.087932,0.058355,0.011425,0.056691,0.063570
31,3052763,0.044876,0.077926,0.044439,0.032731,0.033917,0.030654,0.033050,0.048358,0.030347,...,0.111365,0.044907,0.019737,0.047625,0.041631,0.095931,0.061001,0.014523,0.046013,0.068177

In [36]:
df_aa_eq_freq_all.to_csv('./data/aminoacid_eq_freq_all_virus.csv', index=False)

In [37]:
df_nucl_eq_all.to_csv('./data/nucl_eq_freq_all_virus.csv', index=False)

## Add Sars-cov-2 (count early)

In [17]:
df_eq_freq_sarscov2 = pd.read_csv('../data/equilibrium_freqs_20A.csv')

In [18]:
df_eq_freq_sarscov2

    cdn      freq aa
0   AAA  0.004267  K
1   AAC  0.001897  N
2   AAG  0.000726  K
3   AAT  0.019418  N
4   ACA  0.001897  T
..  ...       ... ..
59  TGT  0.015035  C
60  TTA  0.088360  L
61  TTC  0.039289  F
62  TTG  0.015035  L
63  TTT  0.402080  F

[64 rows x 3 columns]

In [19]:
df_aa_eq_freq_sarscov2 = df_eq_freq_sarscov2.groupby(['aa']) \
                                .agg({'freq':'sum'}) \
                                .T\
                                .drop('*', axis=1)\
                                .reset_index(drop=True)

In [20]:
df_aa_eq_freq_sarscov2 = df_aa_eq_freq_sarscov2.div(df_aa_eq_freq_sarscov2.sum(axis=1), axis=0)

In [21]:
df_aa_eq_freq_sarscov2.insert(0, 'taxid', 2697049)

In [22]:
df_aa_eq_freq_sarscov2

aa,taxid,A,C,D,E,F,G,H,I,K,...,M,N,P,Q,R,S,T,V,W,Y
0,2697049,0.002044,0.016945,0.003724,0.000872,0.453163,0.000782,0.009731,0.119522,0.005127,...,0.003392,0.021885,0.005341,0.00228,0.002916,0.058378,0.012011,0.020914,0.000577,0.099586

In [22]:
# df_aa_eq_freq_sarscov2.to_csv('./data/aminoacid_eq_freq_sars_cov2.csv', index=False)

____

In [23]:
df_rates = pd.read_csv('./data/Bloom_etal/rates_by_clade.csv')

In [24]:
df_rates = df_rates[df_rates['clade'].isin(['20A', '22C'])].copy()
df_rates['mut_type'] = df_rates['mut_type'].str.replace('to', '>')
df_rates = df_rates.rename(columns={'mut_type':'Mut', 'rate':'MutSpec'})

In [25]:
df_rates

,clade,Mut,count,total_count,fraction,parent_nt,parent_nt_frac,MutSpec
0,20A,A>C,286,17202,0.016626,A,0.289620,0.057407
1,20A,A>G,1617,17202,0.094001,A,0.289620,0.324570
2,20A,A>T,515,17202,0.029938,A,0.289620,0.103370
3,20A,C>A,339,17202,0.019707,C,0.137040,0.143810
4,20A,C>G,130,17202,0.007557,C,0.137040,0.055147
5,20A,C>T,7113,17202,0.413500,C,0.137040,3.017400
6,20A,G>A,837,17202,0.048657,G,0.064987,0.748720
7,20A,G>C,137,17202,0.007964,G,0.064987,0.122550
8,20A,G>T,2670,17202,0.155210,G,0.064987,2.388400
9,20A,T>A,565,17202,0.032845,T,0.508360,0.064610
10,20A,T>C,2598,17202,0.151030,T,0.508360,0.297090
11,20A,T>G,395,17202,0.022962,T,0.508360,0.045170
156,22C,A>C,191,18958,0.010075,A,0.290100,0.034729
157,22C,A>G,2214,18958,0.116780,A,0.290100,0.402560
158,22C,A>T,524,18958,0.027640,A,0.290100,0.095277
159,22C,C>A,495,18958,0.026110,C,0.136070,0.191880
160,22C,C>G,60,18958,0.003165,C,0.136070,0.023259
161,22C,C>T,8044,18958,0.424310,C,0.136070,3.118200
162,22C,G>A,1040,18958,0.054858,G,0.065438,0.838320
163,22C,G>C,108,18958,0.005697,G,0.065438,0.087056
164,22C,G>T,1616,18958,0.085241,G,0.065438,1.302600
165,22C,T>A,713,18958,0.037609,T,0.508390,0.073978
166,22C,T>C,3528,18958,0.186100,T,0.508390,0.366050
167,22C,T>G,425,18958,0.022418,T,0.508390,0.044096

In [26]:
nucl_eq_lst_sars = []
eq_freqs_lst_sars = []

for clade in df_rates['clade'].unique():
    nucl_eq_lst_sars.append(get_equilibrium_data(df_rates[df_rates['clade'] == clade], clade)[0]) 
    eq_freqs_lst_sars.append(get_equilibrium_data(df_rates[df_rates['clade'] == clade], clade)[1])

C:\Users\777\AppData\Local\Temp\ipykernel_12324\3682500494.py:30: ComplexWarning: Casting complex values to real discards the imaginary part
  eq_prob = get_equilibrium_probabilities(M).astype(float)
C:\Users\777\AppData\Local\Temp\ipykernel_12324\3682500494.py:30: ComplexWarning: Casting complex values to real discards the imaginary part
  eq_prob = get_equilibrium_probabilities(M).astype(float)

In [27]:
df_nucl_eq_sars = pd.concat(nucl_eq_lst_sars).reset_index(drop=True)

In [28]:
df_nucl_eq_sars

  nucl      freq taxid
0    A  0.162199   20A
1    C  0.072122   20A
2    G  0.027598   20A
3    T  0.738081   20A
4    A  0.200377   22C
5    C  0.077208   22C
6    G  0.050313   22C
7    T  0.672101   22C

In [30]:
# df_nucl_eq_sars.to_csv('./data/nucl_eq_freq_sars_cov2.csv', index=False)

In [15]:
df_eq_freqs_sars = pd.concat(eq_freqs_lst_sars).reset_index(drop=True)

In [16]:
df_eq_freqs_sars

     cdn      freq aa taxid
0    AAA  0.004267  K   20A
1    AAC  0.001897  N   20A
2    AAG  0.000726  K   20A
3    AAT  0.019418  N   20A
4    ACA  0.001897  T   20A
..   ...       ... ..   ...
123  TGT  0.022727  C   22C
124  TTA  0.090514  L   22C
125  TTC  0.034877  F   22C
126  TTG  0.022727  L   22C
127  TTT  0.303602  F   22C

[128 rows x 4 columns]

In [17]:
df_eq_freqs_sars.aa.value_counts()

aa
L    12
R    12
S    12
A     8
T     8
P     8
V     8
G     8
I     6
*     6
C     4
Y     4
K     4
D     4
E     4
N     4
H     4
Q     4
F     4
M     2
W     2
Name: count, dtype: int64

In [25]:
df_aa_eq_freq_sars = df_eq_freqs_sars.groupby(['taxid', 'aa']) \
                                .agg({'freq':'sum'}) \
                                .reset_index() \
                                .pivot(index='taxid', columns='aa', values='freq') \
                                .drop('*', axis=1)

In [26]:
df_aa_eq_freq_sars = df_aa_eq_freq_sars.div(df_aa_eq_freq_sars.sum(axis=1), axis=0).reset_index()

In [28]:
# df_aa_eq_freq_sars = df_aa_eq_freq_sars.rename(columns={'taxid':'clade'})
# df_aa_eq_freq_sars['taxid'] = '2697049'

In [27]:
df_aa_eq_freq_sars

aa,taxid,A,C,D,E,F,G,H,I,K,...,M,N,P,Q,R,S,T,V,W,Y
0,20A,0.002044,0.016945,0.003724,0.000872,0.453163,0.000782,0.009731,0.119522,0.005127,...,0.003392,0.021885,0.005341,0.002280,0.002916,0.058378,0.012011,0.020914,0.000577,0.099586
1,22C,0.004049,0.026409,0.007873,0.002634,0.352779,0.002638,0.012082,0.133302,0.010491,...,0.007062,0.031357,0.006213,0.004042,0.006683,0.061958,0.016124,0.035244,0.001773,0.105176

In [30]:
# df_aa_eq_freq_sars.to_csv('./data/aminoacid_eq_freq_sars_cov2.csv', index=False)